{% extends "base.html" %}

{% block content %}
        <div class="row" >
            <div class="col">
                <h1>{{ object.title }}</h1>
                {{ object.timestamp | timesince}} atrás
                {{ object.description | linebreaks }}<br/>
                {{ object.price }}<br/>
                {% if object.image %}
                    <img src="{{ object.image.url }}" class="img-fluid" />
                {% endif %}
            </div>


    </div>
    
{% endblock content %}